<div class="row navbar-padding">
	<div class="col-xs-12 people-cover-container">
		<img id="people-cover" ng-src="img/people.jpg"></img>
	</div>
</div>
<div class="people-white-background">
	<div class="people-team-title">
		THINK Team
	</div>
	<div class="container">	
		<div class="row">
			<div class="col-md-3" ng-repeat="person in people">
				<div class="panel panel-default people-profile-panel">
					<div class="panel-body people-profile-card">
						<img ng-click="openProfile(person);" class="hvr-grow" id="people-profile-photo" ng-src="{{person.images[0].url}}">
						<div class="people-profile-text-container">
							<div class="people-profile-name">
								{{person.firstName}} {{person.lastName}}
							</div>
							<div class="people-profile-role">
								{{person.tagline}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>